@using OnlineMenu.Services.Interfaces
@using OnlineMenu.Web.Infrastructure.Extensions
@inject IManagerService managerService;

@model FoodAllViewModel

<div class="col-md-4">
	<div class="card mb-3">
		<img class="card-img-top" src="@Model.ImageUrl" alt="Food Image">
		<div class="card-body text-center">
			<h4>@Model.Name</h4>
			<h6>
				Weight
				<b>@String.Format("{0:f2}", Model.Weight) g</b>
			</h6>
			<h6>
				Price
				<b>@String.Format("{0:f2}", Model.Price) lv</b>
			</h6>
			<br />
			<a asp-controller="Food" asp-action="Details" asp-route-id="@Model.Id"
			   class="btn btn-outline-success">Details</a>
			@if (this.User.Identity?.IsAuthenticated ?? false)
			{
				string userId = this.User.GetId();
				bool isManager = await this.managerService.IsManagerExistingByUserIdAsync(userId);

				if (isManager)
				{
					<a asp-controller="Food" asp-action="Edit" asp-route-id="@Model.Id"
					   class="btn btn-outline-warning">Edit</a>
					<a asp-controller="Food" asp-action="Delete" asp-route-id="@Model.Id"
					   class="btn btn-outline-danger">Delete</a>
					<p></p>
				}
			}
		</div>
	</div>
</div>